<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>porroonododnoomoon</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/users/new">Sign Up</a></li>
        </ul>
    </nav>
    <h1> express auth boilerplate for p2</h1>