<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- <script src="js/index.js"> </script> -->
    
    <title>Online Gallery</title>
</head>
<body>
    <nav>
        <div class="header-left">
            <a href="/" class="header-left-item">Search</a>
            
            <a href="/social" class="header-left-item">Social</a>
        </div>
        <div class="header-right">
        <% if (user) { %>
            <a href="/social/profile" class="header-right-item">Profile</a>
            <a href="/social/logout" class="header-right-item">Logout</a>
        <% } else { %>
            <a href="/social/new" class="header-right-item">Sign Up</a>
            <a href="/social/login" class="header-right-item">Log in</a>

            <% } %>
        </div>
    </nav>
    <h1></h1>