<%- include('partials/header.ejs', { user }) %>
<h1> Welcome home , user</h1>

<form action="/search">
    <label for="search">Search:</label>
    <input id="search" type="text" name="search" />
    <button type="submit">Go</button>

</form>

<%- include('partials/footer.ejs') %>