<%- include('partials/header.ejs', { user }) %>


<form action="/search" >
    <div class="search-bar">
        <input class="search" id="search" type="text" name="search" placeholder="ðŸ” Search Art" required/>
    </div>
    <div class="buttons">
        <button class="search-button" type="submit">Search</button>
        <button hidden class="feelin-lucky">I'm Feelin' Lucky</button>
    </div>
</form>


<%- include('partials/footer.ejs') %>