body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('../pics/frame.png');
    background-repeat: no-repeat;
    background-color: rgba(176, 115, 87, 0.7);
}



.header-left {
    display: inline-flex;
    color: black;
    height: 100px;
    width: 50vw;
    padding: 20px;
}
.header-left-item {
    font-size: 25px;
    margin: 10px 30px;
    text-decoration: none;
    color: black;
    justify-content: flex-start;
    transition-duration: 300ms;
    transition-delay: 100ms;
}

.header-right {
    height: 100px;
    width: 38vw;
    display: inline-flex;
    justify-content: flex-end;
    font-size: 40px;
}
.header-right-item {
    font-size: 25px;
    margin: 10px 15px;
    text-decoration: none;
    color: rgba(0,0,0,0.7);
    transition-duration: 300ms;
    transition-delay: 100ms;
}

.buttons {
    width: 100vw;
    display: flex;
}
.search-button {
    font-size: 18px;
    height: 45px;   width: 100px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.2); 
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 25px;
    margin-left: 55vw;
}
.search-button:hover, .feelin-lucky:hover{
    transition-duration: 500ms;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}
.feelin-lucky{
    position: absolute;
    font-size: 18px;
    margin-left: 30vw;
    margin-top: 25px;
    height: 45px; width: 160px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.2);
}
.search-bar {
    width: 100vw;
    display: flex;
}
.search {
    font-size: 25px;
    width: 500px;
    border-radius: 20px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 50px;
    margin: 0 auto;
    margin-top: 80px;
    transition-duration: 200ms;
}
.search:hover {
    background-color: rgba(0, 0, 0, 1);
}
.search2 {
    font-size: 25px;
    width: 36vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.3);
    margin: 0 23vw;
    padding: 5px 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: -30px;
    transition-duration: 300ms;
}
.search2:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid black;
}
.button2 {
    width: 80px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    font-size: 18px;
    margin-left: -20vw;
    margin-bottom: 20px;
    margin-top: -30px;
    transition-duration: 100ms;
}
.button2:hover {
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 12px;
}
.results-box{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    border-radius: 25px;
    padding-top: 10px;
    border: 3px solid rgba(0, 0, 0, 1);
    background-color: rgba(189, 146, 126, .6);
}
.no-results{
    font-size: 30px;
    text-align: center;
}
.results{
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
    transition-duration: 500ms;
}
.results:link{
    text-decoration: none;
    color: black;
}
.results:visited{
    color: rgba(68, 67, 67, 0.7);
}
.results:hover{
    color: blue;
}

.sign-up-h3, .log-in-h3{
    text-align: center;
    font-size: 40px;
    background-color: rgba(234, 243, 250, 0.5);
    width: 50vw;
    margin: 0 auto;
    border-radius: 10px;
}
.sign-up{ 
    width: 20vw;
    height: 20vh;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;

}
.input{
    display: block;
    font-size: 15px;
    text-align: center;
    align-items: center;
    margin: 0 auto; margin-top: 0px;
    padding: 1px;
    
}
.input-label{
    font-size: 20px;
}
.sign-up-button{
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .2);
    border: 2px solid rgba(0, 0, 0, .4);
    border-radius: 5px;
    transition-duration: 200ms;
}
.sign-up-button:hover{
    background: rgba(0, 0, 0, .4);
}

.art-box {
    height: 514px;
    width: 900px;
    border-radius: 10px;
    background-color: rgba(176, 115, 87, 0.7);
    position: relative;
    margin: 0 auto;
}
.image {
    height: 500px;
    width: 500px;
    border: 7px solid rgba(109, 42, 42, 0.792);
    position: absolute;
    top: 0;
    left: 0;
}
.art-title{
    position: absolute;
    top: 5%;
    left: 60%;
    font-size: 30px;
}
.art-artist{
    position: absolute;
    font-size: 30px;
    top: 35%;
    left: 60%;
}
.art-date{
    position: absolute;
    font-size: 30px;
    top: 70%;
    left: 60%
}
.art-bio{
    position: absolute;
    font-size: 24px;
    top: 50%;
    left: 60%
}
.art-delete, .art-favorite{
    position: absolute;
    padding: 10px;
    left: 90%;
    top: 90%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    transition-duration: 200ms;
}
.art-favorite:hover{
    background-color: rgba(243, 178, 189, 0.6);
    border-radius: 5px;
}
.art-delete:hover{
    background-color: rgba(225, 5, 5, 0.7);
    border-radius: 5px;
}

.art-link{
    position: absolute;
    left: 73%;
    top: 90%;
    color: black;
    font-size: 30px;
    text-decoration: none;
    transition-duration: 200ms;
}
.art-link:hover{
    color: blue;
}
.comment-box{
    position: relative;
    height: 100%;
    width: 500px;
    background-color: rgba(189, 146, 126, 0.6);
    margin: 0 auto; margin-top: 10px;
    padding: 10px;
}
.comment-input{
    width: 365px;
    height: 32px;
}
.comment-button{
    padding: 10px;
    border: 1px solid black;
    transition-duration: 200ms;
}
.comment-button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.comment-content{
    height: 90px;
    padding-left: 7px;
    margin: 0 auto;
    margin-top: 5px;
    width: 400px;
    position: relative;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.4);
}
.comment-delete{
    position: absolute;
    top: 71%;
    left: 87.8%;
    padding: 5px;
    border: 1px solid black;
    transition-duration: 200ms;
}
.comment-delete:hover{
    background-color: rgba(255, 0, 0, 0.5);
}
.favorites{
    font-size: 30px;
    text-align: center;
    height: 40px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(114, 53, 12, 0.7);
}
.search-results{
    display: flex;
    align-items: center;
    width: 50vw;
    height: 100px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 10px;
    margin-bottom: 20px;
}
.search-results-text{
    font-size: 30px;
    margin: 0 auto;
}
.profile-welcome{
    height: 40px; width: 500px;
    border-radius: 20px;
    background-color:rgba(176, 115, 87, 0.7);
    display: flex;
    align-items: center;
    margin: 0 auto; margin-bottom: 20px;
}
.profile-welcome-text{
    font-size: 20px;
    margin: 0 auto;
}
.user-info{
    height: 180px;
    width: 80vw;
    background-color: rgba(100, 118, 130, 0.5);
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    padding: 10px;
    border-radius: 10px;
}
.about{
    font-size: 30px;
    position: absolute;
    top: -10%;
    left: 43%;    
}
.username{
    position: absolute;
    left: 15%;
    font-size: 25px;
    top: 20%;
}
.email{
    position: absolute;
    left: 15%;
    top: 44%;
    font-size: 25px;
}
.user-delete{
    position: absolute;
    padding: 8px;
    left: 64%;
    top: 57%;
    border: 1px solid black;
    transition-duration: 200ms;
}
.change-password{
    position: absolute;
    left: 62%;
    font-size: 20px;
    top: 38%;
    text-decoration: none;
    color: black;
}
.change-password:hover{
    color: blue;
}
.user-delete:hover{
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 3px;
}

.message{
    color: red;
    text-align: center;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 28vw;
    padding: 5px;
    margin: 0 auto; margin-top: 20px;
}
.favorites-message{
    color: green;
    text-align: center;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 28vw;
    padding: 5px;
    margin: 0 auto; margin-bottom: 20px;
}


.header-left-item:hover {
    color: rgba(255, 255, 255, 0.8);
    font-size: 35px;
}
.header-right-item:hover {
    color: rgba(2,2,2,1);
    font-size: 35px;
}