<%- include('../partials/header.ejs', { user }) %>


<% if (message) { %>
    <p class="message"><%= message %></p>
<% } %>
<form class="sign-up" method="POST" action="/social/<%=user.id%>/?_method=PUT" >
    <input name="username" value="<%= user.username %>" type="text" hidden>
    <label class="input-label" for="password">Old Password:</label>
    <input class="input" id="password" type="password" name="password">
    <label class="input-label" for="newPass">New Password:</label>
    <input class="input" id="newPass" type="password" name="newPass" required>
    <button class="sign-up-button" type="submit">Change</button>
</form>