<%- include('../partials/header.ejs', { user }) %>

<h3 class="log-in-h3">Login to your account</h3>

<% if (message) { %>
    <p class="message"><%= message %></p>
<% } %>

<form class="sign-up" action="/social/login" method="POST">
    <label class="input-label" for="username">Username:</label>
    <input class="input" id="username" type="text" name="username" required />
    
    <label class="input-label" for="password">Password:</label>
    <input class="input" id="password" type="password" name="password" required />

    <button class="sign-up-button" type="submit">Log in</button>
</form>

<%- include('../partials/footer.ejs') %>