<%- include('../partials/header.ejs', { user }) %>

<h3 class="sign-up-h3">Sign up for an account</h3>

<form class="sign-up" action="/social" method="POST">
    <label class="input-label" for="email">Email:</label>
    <input class="input" id="email" type="email" name="email" required />

    <label class="input-label" for="username">Username:</label>
    <input class="input" id="username" type="text" name="username" required />
    
    <label class="input-label" for="password">Password:</label>
    <input class="input" id="password" type="password" name="password" required />

    <button class="sign-up-button" type="submit">Sign Up</button>
</form>

<%- include('../partials/footer.ejs') %>