<%- include('../partials/header.ejs', { user }) %>


<form action="social/result">
    <div class="search-bar">
        <input class="search" id="search" type="text" name="username" placeholder="ðŸ” Search User Pages" />
    </div>
    <button class="search-button" type="submit">Go</button>
</form>



<%- include('../partials/footer') %>