<%- include('../partials/header.ejs', { user }) %>


<form action="/social/results">
    <label for="search">Search for users by username:</label>
    <input id="search" type="text" name="search" />
    <button type="submit">Go</button>
</form>



<%- include('../partials/footer') %>