<%- include('../partials/header.ejs', { user }) %>

<h1>Search Results for <%= search %></h1>

<% result.objectIDs.forEach(e => { %>
    <div>
        <p><a href="search/<%= e %>"><%= e %></a></p>
    </div>
<% }) %>