<%- include('../partials/header.ejs', { user }) %>

<h3>Sign up for an account</h3>

<form action="/users" method="POST">
    <label for="email">Email</label>
    <input id="email" type="email" name="email" required />
    
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" required />

    <button type="submit">Sign Up</button>
</form>

<%- include('../partials/footer.ejs') %>